<div>
    <h1><%= @recipe.title %></h1>
</div>
<div class="row">
<div class="col-sm-4">
  <div>
    <img  class="mr-2 rounded" src='<%= @recipe.image %>'>
  </div>
  <div>
    <p><%= @recipe.comment %></p>
  </div>
  <div>
    <p>調理時間：<%= @recipe.cooking_time %></p>
  </div>
  <div>
    <% if current_user == @recipe.user %>
      <%= link_to "　　　削除　　　", @recipe, method: :delete, data: { confirm: "削除しますか？" }, class: 'btn btn-danger btn-sm' %>
      <br>
      <br>
      <a href="<%= edit_recipe_path(@recipe) %>" class="btn btn-primary btn-sm">　　　編集　　　</a>
    <% end %>
  </div>
</div>
<div class="col-sm-4">
  <div>
    <h3>材料</h3><br>
    <p><%= @recipe.material %></p>
  </div>
</div>
<div class="col-sm-4">
  <div>
    <h3>作り方</h3><br>
    <p><%= @recipe.process %></p>
  </div>  
</div>
</div>



