<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <% if @user.image.file %>
            <img src="<%= @user.image %>" width="300" hight="300">
        <% else %>
            <%= image_tag "default.png", width:250, hight:250 %>
        <% end %>  
      </div>
    </div>
    <br>
    <%= render 'relationships/follow_button', user: @user %>
    <% if current_user.id == @user.id %>
      <a href="<%= new_recipe_path(current_user) %>" class="btn btn-primary btn-sm btn-block">レシピを書く</a>
      <br>
      <a href="<%= likes_user_path(current_user) %>" class="btn btn-success btn-sm btn-block">お気に入りレシピ</a>
    <% end %>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item">
        <a href="#myrecipes" class="nav-link active" data-toggle="tab" >投稿レシピ一覧 <span class="badge badge-secondary"><%= @count_recipes %></span></a>
      </li>
      <li class="nav-item">
        <a href="#followings" class="nav-link" data-toggle="tab" >フォロー<span class="badge badge-secondary"><%= @count_followings %></span></a>
      </li>
      <li class="nav-item">
        <a href="#followers" class="nav-link" data-toggle="tab" >フォロワー<span class="badge badge-secondary"><%= @count_followers %></span></a>
      </li>
　  </ul>
　  <div class="tab-content">
      <div id="myrecipes" class="tab-pane active">
        <%= render 'recipes/recipe', recipes: @recipes %>
      </div>
      <div id="followings" class="tab-pane">
        <%= render 'users/followings', followings: @followings %>
      </div>
      <div id="followers" class="tab-pane">
        <%= render 'users/followers', followers: @followers %>
      </div>
    </div>
  </div>
</div>


